html{
    background-color: bisque;
}

#ti{
    background-color: cadetblue;
    color: black;
    justify-content: center;
    padding: 15px;
    margin: 5px;
}

img{
    width: 150px;
    
}
main{
    justify-content: flex-start;
}
.parent {
    
    
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }

    .p{
        background-color:lightblue;
        align-content: start;
        flex-direction: row;
    }
    h2{
        background-color: cadetblue;
    }
    h4{
        background-color: cadetblue;
    }

    footer{
        background-color: black;
        color: white;
    }